body {
  border-bottom: #F05133 5px solid;
  box-sizing: border-box;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0px;
  width: 280px;
}

.popup-nav {
  align-items: center;
  background-color: #F05133;
  display: flex;
  height: 64px;
  padding: 0 18px;
}

.popup-logo-mark {
  margin-right: 22px;
}

.popup-logo-text {
  color: white;
  text-transform: uppercase;
}

.popup-btn {
  align-items: center;
  background-color: #f5f5f5;
  color: #24292e;
  display: flex;
  padding: 18px;
  text-decoration: none !important;
  text-transform: uppercase;
}

.popup-btn:hover {
  background-color: #24292e;
  color: #ffffff;
}

.popup-btn:hover .popup-btn-img {
  content: url("../img/gh_32_white.png");
}

.popup-btn-img {
  margin-right: 22px;
}

.authenticated {
  display: block;
  padding: 18px;
  text-align: center;
}